.title{
  font-family: novecento-sans, sans-serif;
  text-align: center;
  font-size: 5rem;
  padding: 0px;
  line-height: 1;
  margin: 0;
  color: white;
}
.subtitle{
  font-family: novecento-sans, sans-serif;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
  color: white;
}
.winner-setup{
  font-family: novecento-sans, sans-serif;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1;
  color: white;
}
.winner{
  font-family: novecento-sans, sans-serif;
  text-align: center;
  font-size: 2rem;
  line-height: 1;
  color: rgb(255, 204, 0);
}
.others{
  font-family: novecento-sans, sans-serif;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1;
  color: white;
}
.others-scores{
  font-family: novecento-sans, sans-serif;
  text-align: center;
  font-size: 1.75rem;
  line-height: 1.5;
  color: rgb(255, 204, 0);
}
button {
  background-color: rgb(255, 204, 0);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: novecento-sans, sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),0 17px 30px 0 rgba(255, 255, 255, 0.19);
  background-color: rgb(255, 215, 56);
}
a{
  text-decoration: none;
  color: black;
}
body {
  background: black;
  overflow-x: hidden;
  text-align: center;
}
.confetti{
  background: black;
  background-image: url('./images/confetti2.gif');
  text-align: center;
}
#btn1{
  color: black;
}
p{
  font-family: novecento-sans, sans-serif;
  text-align: center;
  font-size: 0.7rem;
  line-height: 1;
  color: white;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
footer{
  bottom: 0;
  width:100%;
  overflow: hidden;
  position: relative;
  height: 2.5rem;
}